.coursel_image{
    height: 70vh; /* Set height to 50% of the viewport height */
    width: 100vw;
    object-fit: cover;
}



.img:hover{
    transform: scale(1.1);
    /* transform: translateY(5px); */
}
@media (min-width: 320px) {
    img{
        height: 95vh;
        width: 80vh;
    }
    .img{
        height: 30vh;
        width: 100vw;
     }

    .carintro{
        font-size: 1.2rem;
        color: orange;
    }
    .img:hover{
        transform: scale(1.1);
       
    }
    .carousel{
        margin-top: -0.99em;
    }
    .coursel_image{
        height: 50vh; 
        width: 100vh;
     
    }
  }
  @media (min-width: 768px) {
    .img{
        height: 80vh;
        width: 100vw;
     }
  
  }