.footer-container {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* align-items:normal; */
  }
  
  .footer-text {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icon {
    font-size: 1.8rem;
    transition: transform 0.3s ease;
  }
 
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
        background-color: #0d6efd;
        color: white;
        padding: 20px 0;
        text-align: center;
      }
    .footer-text {
      font-size: 0.9rem;
    }
    .social-icon {
      font-size: 1.5rem;
    }
  }
@media (min-width: 769px){
 
    .footer-text {
        font-size: 0.9rem;
      }
      .social-icon:hover { 
        cursor: progress;
      }
    }  
