.image:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 5px gray, -5px -5px 10px blue;

}
.cardMain:hover{
    backdrop-filter: blur(20px);
    transform: scale(1.1);
   
    
}
/* .position-relative{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Flovepik.com%2Fimages%2Fphoto-car.html&psig=AOvVaw0IX1hAh4gNbCiDDi-vA2xh&ust=1738739529538000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLCYwtK7qYsDFQAAAAAdAAAAABAE");
} */
@media (min-width:330px){
    .cardMain:hover{
        transform: scale(1.1);
        height: 100vh;
        transition: transform 0.1s ease-out;
        background-color: black;
        color: wheat;
    }

}
@media (min-width: 768px) {
  .image:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 5px gray, -5px -5px 10px rgb(18, 18, 18);

}
.cardMain:hover{
    transform: scale(1.1);
    height: 100vh;
    transition: transform 0.1s ease-out;
    background-color: black;
    color: wheat;
}
  }